body {
  background-color: #132743;
}
.pic1 {
  width: auto;
  height: 600px;
  background-image: url("./proj_images/coron.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

.pic2 {
  width: auto;
  height: 600px;
  background-image: url("./proj_images/boracay.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

.pic3 {
  width: auto;
  height: 600px;
  background-image: url("./proj_images/the_ruins_bacolod.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

.pic4 {
  width: auto;
  height: 600px;
  background-image: url("./proj_images/banaue_rice_terraces.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

p.coron {
  padding-top: 550px;
  padding-left: 10px;
  color: white;
  font-family: "Dancing Script", cursive;
  font-size: 2em;
}

p.boracay {
  padding-top: 550px;
  padding-left: 10px;
  color: white;
  font-family: "Dancing Script", cursive;
  font-size: 2em;
}
p.ruins {
  padding-top: 550px;
  padding-left: 10px;
  color: white;
  font-family: "Dancing Script", cursive;
  font-size: 2em;
}
p.banaue {
  padding-top: 550px;
  padding-left: 10px;
  color: white;
  font-family: "Dancing Script", cursive;
  font-size: 2em;
}

h1 {
  color: #ffb5b5;
  font-family: "Oswald", sans-serif;
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
}
p {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  color: #ffcbcb;
}
